@font-face {
    font-family: '0';
    src: url('04B_30__.TTF') format('truetype');
}

@font-face {
    font-family: 'dogica';
    src: url('dogicapixelbold.ttf') format('truetype');
}

body {
    position: absolute;
}

h1 {
    position: absolute;
    text-align: center;
    left: 39%;
    padding-top: 50px;

    color: #ffffff;

    font-family: 'dogica';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 46px;

    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.447);
}

div.botao {
    display: inline-block;
    top: 120px;
}

.cienciasn,
.cienciash,
.linguaport,
.matematica {
    position: absolute;
    z-index: 0;
    width: 240px;
    height: 56px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #00135C;
    letter-spacing: 2px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: none;
    background: transparent;
}

.button__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cienciash::before,
.cienciash::after,
.button__text::before,
.button__text::before,
.cienciasn::before,
.cienciasn::after,
.linguaport::before,
.linguaport::after,
.matematica::before,
.matematica::after {

    content: '';
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: #00135C;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.cienciash::before,
.cienciasn::before,
.linguaport::before,
.matematica::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
}

.cienciash::after,
.cienciasn::after,
.linguaport::after,
.matematica::after {

    top: 0;
    right: 54px;
    width: 8px;
}

.button__text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
}

.button__text::after {
    top: 0;
    right: 54px;
    width: 8px;
}

.button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
}

.button__line::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 300px;
    border: #00135C;
}

.button__line:nth-child(1),
.button__line:nth-child(1)::before {
    left: 0;
}

.button__line:nth-child(2),
.button__line:nth-child(2)::before {
    right: 0;
}

.cienciash:hover,
.cienciasn:hover,
.linguaport:hover,
.matematica:hover {
    letter-spacing: 6px;
}

.cienciash:hover::before,
.cienciash:hover .button__text::before,
.cienciasn:hover::before,
.cienciasn:hover .button__text::before,
.linguaport:hover::before,
.linguaport:hover .button__text::before,
.matematica:hover::before,
.matematica:hover .button__text::before {

    width: 8px;
}

.cienciash:hover::after,
.cienciash:hover .button__text::after,
.cienciasn:hover::after,
.cienciasn:hover .button__text::after,
.linguaport:hover::after,
.linguaport:hover .button__text::after,
.matematica:hover::after,
.matematica:hover .button__text::after {
    width: calc(100% - 56px * 2 - 16px);
}

.button__drow1,
.button__drow2 {
    position: absolute;
    z-index: -1;
    border: 1rem;
    -webkit-transform-origin: 1rem 1rem;
    -ms-transform-origin: 1rem 1rem;
    transform-origin: 1rem 1rem;
}

.button__drow1 {
    top: -1rem;
    left: 40px;
    width: 2rem;
    height: 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.button__drow2 {
    top: 44px;
    left: 77px;
    width: 2rem;
    height: 0;
    -webkit-transform: rotate(-127deg);
    -ms-transform: rotate(-127deg);
    transform: rotate(-127deg);
}

.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
    content: '';
    position: absolute;
}

.button__drow1::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 2rem;
    border-radius: 1rem;
    -webkit-transform-origin: 1rem 1rem;
    -ms-transform-origin: 1rem 1rem;
    transform-origin: 1rem 1rem;
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.button__drow1::after {
    top: -10px;
    left: 45px;
    width: 0;
    height: 2rem;
    border-radius: 1rem;
    -webkit-transform-origin: 1rem 1rem;
    -ms-transform-origin: 1rem 1rem;
    transform-origin: 1rem 1rem;
    -webkit-transform: rotate(-69deg);
    -ms-transform: rotate(-69deg);
    transform: rotate(-69deg);
}

.button__drow2::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 2rem;
    border-radius: 1rem;
    -webkit-transform-origin: 1rem 1rem;
    -ms-transform-origin: 1rem 1rem;
    transform-origin: 1rem 1rem;
    -webkit-transform: rotate(-146deg);
    -ms-transform: rotate(-146deg);
    transform: rotate(-146deg);
}

.button__drow1::after {
    bottom: 26px;
    left: -40px;
    width: 0;
    height: 2rem;
    border-radius: 1rem;
    -webkit-transform-origin: 1rem 1rem;
    -ms-transform-origin: 1rem 1rem;
    transform-origin: 1rem 1rem;
    -webkit-transform: rotate(-262deg);
    -ms-transform: rotate(-262deg);
    transform: rotate(-262deg);
}

.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
    background: #c111236d;
}

.cienciash:hover .button__drow1,
.cienciasn:hover .button__drow1,
.linguaport:hover .button__drow1,
.matematica:hover .button__drow1 {
    -webkit-animation: drow1 ease-in .06s;
    animation: drow1 ease-in .06s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cienciash:hover .button__drow1::before,
.cienciasn:hover .button__drow1::before,
.linguaport:hover .button__drow1::before,
.matematica:hover .button__drow1::before {
    -webkit-animation: drow2 linear .08s .06s;
    animation: drow2 linear .08s .06s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cienciash:hover .button__drow1::after,
.cienciasn:hover .button__drow1::after,
.linguaport:hover .button__drow1::after,
.matematica:hover .button__drow1::after {
    -webkit-animation: drow3 linear .03s .14s;
    animation: drow3 linear .03s .14s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cienciash:hover .button__drow2,
.cienciasn:hover .button__drow2,
.linguaport:hover .button__drow2,
.matematica:hover .button__drow2 {
    -webkit-animation: drow4 linear .06s .2s;
    animation: drow4 linear .06s .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cienciash:hover .button__drow2::before,
.cienciasn:hover .button__drow2::before,
.linguaport:hover .button__drow2::before,
.matematica:hover .button__drow2::before {
    -webkit-animation: drow3 linear .03s .26s;
    animation: drow3 linear .03s .26s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.cienciash:hover .button__drow2::after,
.cienciasn:hover .button__drow2::after,
.linguaport:hover .button__drow2::after,
.matematica:hover .button__drow1::after {
    -webkit-animation: drow5 linear .06s .32s;
    animation: drow5 linear .06s .32s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes drow1 {
    0% {
        height: 0;
    }

    100% {
        height: 100px;
    }
}

@keyframes drow1 {
    0% {
        height: 0;
    }

    100% {
        height: 100px;
    }
}

@-webkit-keyframes drow2 {
    0% {
        width: 0;
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    11% {
        opacity: 1;
    }

    100% {
        height: 120px;
    }
}

@keyframes drow2 {
    0% {
        width: 0;
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    11% {
        opacity: 1;
    }

    100% {
        height: 120px;
    }
}

@-webkit-keyframes drow3 {
    0% {
        height: 0;
    }

    100% {
        height: 80px;
    }
}

@keyframes drow3 {
    0% {
        height: 0;
    }

    100% {
        height: 80px;
    }
}

@-webkit-keyframes drow4 {
    0% {
        height: 0;
    }

    100% {
        height: 120px;
    }
}

@keyframes drow4 {
    0% {
        height: 0;
    }

    100% {
        height: 120px;
    }
}

@-webkit-keyframes drow5 {
    0% {
        height: 0;
    }

    100% {
        height: 124px;
    }
}

@keyframes drow5 {
    0% {
        height: 0;
    }

    100% {
        height: 124px;
    }
}

.container {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


html {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    height: 100%;
    background: linear-gradient(#6084d7 25%, #a2cef4 50%, #a2cef4 50%, #6084d7 100%);
}

.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    perspective: 360px;
    perspective-origin: 50% 50%;
}

.top-plane,
.bottom-plane {
    width: 200%;
    height: 130%;
    position: absolute;
    bottom: -30%;
    left: -50%;
    background-image: -webkit-linear-gradient(#a2cef4 2px, transparent 2px), -webkit-linear-gradient(left, #a2cef4 2px, transparent 2px);
    background-size: 100px 100px, 100px 100px;
    background-position: -1px -1px, -1px -1px;
    transform: rotateX(85deg);
    animation: planeMoveTop 2s infinite linear;
}

.bottom-plane {
    transform: rotateX(-85deg);
    top: -30%;
    animation: planeMoveBot 2s infinite linear;
}